.policy-page {
    margin: 4rem 0 15rem;
    padding: 6rem 8rem;
    h1, p , h2 {
        color: #fff;
    }
    ul {
        display: flex;
        flex-direction: column;
        color: #fff;
        
        li {
            list-style: circle;
            font-size: 20px;
        }
    }
    a {
        color: rgb(250, 147, 147);
        text-decoration: underline;
    }
    .end {
        padding-bottom: 4rem;
    }
}