header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  letter-spacing: 3px;
  padding: 0rem 2rem;
  color: #fff;
  font-family: "Coolvetica";
  background: var(--primary);
  transition: all 0.3s;
  opacity: 0.95;
  cursor: pointer;

  .title {
    font-size: 24px;
    padding-top: 15px;
  }
  .logo {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    text-align: center;
    padding: 20px 10px;

    
      .dropdown-content {
        display: none;
        position: absolute;
        padding: 2rem 1rem;
        right: 13%;
        background: var(--services-link);
        box-shadow: var(--global);
      }

      .dropdown-content a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      } 
      
      .dropdown:hover .dropdown-content {
        display: block;
        animation: fadeIn 1s forwards;
      }
    
    a {
      text-align: center;
      line-height: 40px;
      font-size: 1.1rem;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        color: #000;
      }
    }
  }
}

.navbar-scroll {
  opacity: 0;
  transition: 1s ease-in-out;
}

.mobile-icon,
.hamburger,
.close-icon {
  display: none;
}

@media screen and (max-width: 920px) {
  header {
    .title {
      display: none;
    }

    .logo {
      display: block;
      margin-top: 0px;
      width: 75px;
    }

    nav {
      display: none;
    }

    nav {
      position: absolute;
      right: 0;
      width: 100%;
      background: var(--primary);
      z-index: 2;

      .desktop-icon {
        display: none;
      }

      .mobile-icon {
        display: block;
        font-size: 24px;
      }
      &.mobile-show {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 4rem;
        padding: 5rem ;
        height: 100vh;
        animation: bounceInRight 1s;

        .text {
          text-align: center;
          display: block;
          font-size: 24px;
        }
        
        .menu-container {
          display: flex;
          align-items: center;
          width: 200px;
          gap: 20px;
        }
      }
    }
  }
  .navbar-scroll {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 24px;
  }
  .close-icon {
    display: block;
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 24px;
  }
}
