header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  letter-spacing: 3px;
  padding: 0rem 2.5rem;
  color: #fff;
  font-family: "Coolvetica";
  transition: all 1s;
  cursor: pointer;
  .logo {
    display: block;
    width: 250px;
    height: 62px;
    padding: 0rem;
    margin-top: 15px;
  }
  .mobile-logo {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    a {
      text-align: center;
      line-height: 40px;
      font-size: 1.1rem;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        color: #000;
      }
    }
  }
}
.navbar-scroll {
  display: none;
  transition: 3s ease-in-out;
}
.mobile-icon,
.hamburger,
.close-icon {
  display: none;
}
@media screen and (max-width: 1024px) {
  header {
    padding: 0rem 1rem;
    .logo {
      display: none;
      // display: block;
      // margin: 20px;
      // width: 125px;
      // height: auto;
      // object-fit: contain;
      // padding: 0;
    }
    .mobile-logo {
      display: block;
      width: 50px;
      height: 50px;
      padding-top: 5px;
    }
    nav {
      display: none;
    }
    nav {
      position: absolute;
      right: 0;
      width: 100%;
      background: var(--primary);
      z-index: 2;
      .desktop-icon {
        display: none;
      }
      .mobile-icon {
        display: block;
        animation: fadeInUp 1s forwards;
      }
      &.mobile-show {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
        padding: 5rem;
        height: 100vh;
        animation: bounceInRight 1s;
        .text {
          font-size: 18px;
          animation: fadeInUp 2s 0.2s forwards;
        }
        .menu-container {
          display: flex;
          align-items: center;
          width: 150px;
          gap: 40px;
          margin-top: 1rem;
        }
      }
    }
  }
  .navbar-scroll {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 24px;
  }
  .close-icon {
    display: block;
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 24px;
  }
}
