header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  letter-spacing: 3px;
  padding: 0rem 1rem;
  color: #fff;
  font-family: "Coolvetica";
  background: var(--primary);
  transition: all 1s;
  opacity: 0.95;
  cursor: pointer;

  .logo {
    width: 250px;
    height: auto;
    padding: 0rem;
    margin-top: 15px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 15px 0px;

    a {
      text-align: center;
      line-height: 40px;
      font-size: 1.1rem;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        color: #000;
      }
    }
  }
}

.navbar-scroll {
  display: none;
  transition: 3s ease-in-out;
}

.mobile-icon,
.hamburger,
.close-icon {
  display: none;
}

@media screen and (max-width: 1115px) {
  header {
    .logo {
      display: block;
      margin-top: 15px;
      width: 150px;
      padding: 0;
    }

    nav {
      display: none;
    }

    nav {
      position: absolute;
      right: 0;
      width: 100%;
      background: var(--primary);
      z-index: 2;

      .desktop-icon {
        display: none;
      }

      .mobile-icon {
        display: block;
        animation: fadeInUp 2s 0.2s forwards;
      }
      &.mobile-show {
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 1rem;
        padding: 5rem;
        height: 100vh;
        animation: bounceInRight 1s;

        .text {
          font-size: 18px;
          animation: fadeInUp 2s 0.2s forwards;
        }

        .menu-container {
          display: flex;
          align-items: center;
          width: 150px;
          gap: 40px;
          margin-top: 1rem;
        }
      }
    }
  }
  .navbar-scroll {
    display: none;
  }
  .hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 24px;
  }
  .close-icon {
    display: block;
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 24px;
  }
}
