.serivces-page {
  .hero-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2em 0rem 4rem;
    padding: 2rem 4rem;
    color: #fff;

    .cube-container {
      width: 60px;
      top: 55%;
      right: 550px;
    }

    .text-box {
      padding: 4rem 2rem;
      width: 50%;
      line-height: 1.5;
      .title {
        animation: fadeInLeftBig 2s forwards;
      }
      .fadeInUp,
      .btn-container {
        animation: fadeInUp 2s forwards;
      }

      p {
        padding-top: 1rem;
      }
    }
    .btn-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .second-section {
    background-image: url("../../../assets/images/1746747.webp");
    box-shadow: var(--global);

    .second-inner {
      display: flex;
      gap: 2rem;
      margin: 0rem;
      padding: 4rem;

      .anim-second {
        animation: fadeInLeft 2s forwards;
        width: 60%;
        padding: 0 1rem;

        p {
          padding-top: 2rem;
        }
      }

      .animSecondimg {
        animation: fadeInRight 2s forwards;
        width: 40%;
      }

      .second-none {
        opacity: 0;
      }
    }
  }

  .forth-section {
    box-shadow: var(--global);
    .forth-inner {
      padding: 2rem 2rem 6rem;

      .none {
        opacity: 0;
      }

      .text-box {
        padding: 1rem 5rem;
        text-align: center;
        color: #fff;
      }

      .price-title {
        text-align: center;
        color: #fff;
      }

      .contentAnim {
        animation: fadeIn 1s forwards;
        margin: 1rem;
      }
    }
  }

  .fith-section {
    .fith-inner {
      background-image: url("../../../assets/images/1746747.webp");
      box-shadow: var(--global);
      margin-bottom: 6rem;
      padding: 4rem;
      color: #000;
      text-align: center;
    }
    .none {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .serivces-page {
    .hero {
      .hero-inner {
        flex-direction: column;
        margin: 2em 0rem;
        padding: 2rem 0rem;
        .text-box {
          width: 100%;
        }

        .cube-container {
          width: 50px;
          top: 40%;
          left: 55%;
        }
        .btn-container {
          display: flex;
          flex-direction: row;
          margin: 1rem 0;
          gap: 1rem;
        }
      }
    }

    .second-section {
      .second-inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0rem;
        padding: 1rem;
        .anim-second {
          width: 100%;
          padding: 2rem 0;
        }
        .animSecondimg {
          width: 100%;
        }
      }
    }

    .forth-section {
      .forth-inner {
        padding: 1rem;

        .text-box {
          padding: 1rem;
        }
        .price-title {
          padding: 1rem;
          text-align: center;
        }
        .contentAnim {
          margin: 1rem;
          .card-container {
            flex-direction: column;
            .price-card {
              max-width: 100%;
            }
          }
        }
      }
    }

    .fith-section {
      .fith-inner {
        padding: 3rem 0;

        .view-btn {
          margin: 0;
          padding: 1rem;
        }
      }
    }
  }
}
