.flat-btn {
    text-transform: uppercase;
    background-color: #000;
    letter-spacing: 4px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    width: 200px;
    padding: 1rem ;
    margin-top: 1.5rem;
    float: left;
    white-space: nowrap;
    border-radius: 50px;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
    }
}

a {
    text-decoration: none;
    color: #fff;
}

