.flat-btn {
  text-transform: uppercase;
  background: #000;
  color: #fff;
  letter-spacing: 4px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  float: left;
  border-radius: 5px;
  border: none;
  min-width: fit-content;
  box-shadow: var(--button-shadow);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    background-color: var(--third-bg);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }
}
a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .flat-btn {
    width: fit-content;
  }
}
@media screen and (max-width: 1024px) {
  .flat-btn {
    font-size: 10px;
    margin: 0;
  }
}
