button {
  text-transform: uppercase;
  background: #000;
  color: #fff;
  letter-spacing: 4px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  float: left;
  border-radius: 10px;
  border: none;
  min-width: fit-content;
  box-shadow: var(--button-shadow);
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    background-color: rgb(43, 43, 43);
  }
}

a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 920px) {
  button {
    width: 150px;
    font-size: 10px;
    margin: 0;
  }
}
