.reviews {
    .reviews-inner {
        padding: 1rem 0rem 3rem;
        text-align: center;
        .review-title {
            color: #fff;
            margin-bottom: 2rem;
        }
        .subtitle {
            color: #fff;
        }
    }
    .ButtonBase__Ellipsis-sc-p43e7i-5, .dqiKFy {
        letter-spacing: 0.15rem;   
    }
}