.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 1.5rem;
  gap: 2rem;
}

.card {
  position: relative;
  display: flex;
  flex: 1 1 20%;
  height: 400px;
  overflow: hidden;
  max-width: calc(30% - 0px);
  box-shadow: var(--global);

  .card-image {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .content {
    position: absolute;
    width: 100%;
    z-index: 3;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.0355, 1);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 1));
    bottom: -150px;
  }

  .name {
    font-family: "Coolvetica";
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 0 2rem;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    line-height: 24px;
  }

  .desc {
    font-weight: 600;
    margin-bottom: 0px;
    padding: 0 1rem;
    margin-top: -1rem;
    color: #fff;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }

  &::after {
    content: "";
    background: linear-gradient(180deg, #587bd3, #000);
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
  }

  &:hover:after {
    opacity: 0.85;
  }

  &:hover .content {
    bottom: 0;
    background: transparent;
  }
}

@media screen and (max-width: 920px) {
  .card-container {
    padding: 0px;

    .card {
      display: flex;
      flex: 1 1 50%;
      height: 400px;
      overflow: hidden;
      max-width: calc(100% - 0px);
      box-shadow: var(--global);
      height: 250px;

      .content {
        position: relative;
        bottom: -80px;
        padding: 0px;
        text-align: center;

        .name {
          font-size: 14px;
          font-weight: 500;
          padding: 0;
          margin-bottom: 0;
        }

        .desc {
          font-weight: normal;
          font-size: 12px;
        }

        .btn-container {
          gap: 10px;
          padding: 0px;
        }

        &:focus {
          bottom: 0;
          transition: all 1s ease;
        }
      }
      .card-image {
        object-fit: fill;
      }
    }
  }
}
