.home-page {
  .hero {
    .typewriter {
      font-size: 2rem;
      background: linear-gradient(to right, #fdd9c0, coral);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      white-space: nowrap;
      min-height: 3.25rem;
      animation: fadeIn 0.5s 1s backwards;
    }
    .btn-container {
      justify-content: start;
    }
  }
}
@media screen and (max-width: 768px) {
  .home-page {
    .hero {
      .typewriter,
      .Typewriter_wrapper {
        font-size: 1.5rem;
      }
    }
  }
}

