.fallback {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover; 
  opacity: 0.4;
  transition: opacity 0.3s ease; 
  &.loading {
    opacity: 0;
  }
  &.loaded {
    opacity: 1;
  }
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  opacity: 0.4;
  object-fit: cover;
  transition: opacity 0.5s ease;
  &.loading {
    opacity: 0;
  }
  &.loaded {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .video,
  .fallback {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}