.featured-work {
  .clients {
    position: relative;
    background: var(--second-section);
    padding: 2rem 4.8rem;
    .main-text {
      margin-bottom: 2rem;
      color: #fff;
    }
    .featured {
      display: flex;
      background: #e5e6ea;
      margin: 0rem 0rem 2rem;
      padding: 2rem 4rem;
      border-radius: 5px;
      cursor: pointer;
      .text-box {
        flex: 1;
        padding-right: 2rem;
        max-width: 500px;
        h2 {
          color: var(--third-bg);
        }
        p {
          padding: 0 0.5rem;
          color: #000;
        }
        .link {
          font-size: 1.3rem;
          text-decoration: underline;
          margin-bottom: 1.5rem;
          display: inline-block;
          font-weight: 500;
          color: #000;
          transition: color 0.3s ease;
          &:hover {
            color: var(--main);
          }
        }
      }
      .player-wrapper {
        flex: 1;
        max-width: 700px;
        aspect-ratio: 16 / 9;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        transition: transform 0.3s ease;
        z-index: 1;
        .react-player {
        position: absolute;
        top: 0;
        left: 0;
        }
        &.oposite-video {
          margin-right: 2rem;
        }

        &:hover {
          transform: scale(1.01);
        }
      }
    }
    .container-footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 4rem 6rem;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: var(--global);
      background: var(--main);
      color: #fff;
      .flat-btn {
        margin: 1rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .featured-work {
    .clients {
      padding: 0 2rem;
      .featured {
        flex-direction: column !important;
        gap: 1rem;
        padding: 1rem;
        .text-box {
          padding-right: 0rem;
          .link {
            font-size: 1rem;
            margin-bottom: 1rem;
          }
        }
      }
      .player-wrapper {
        width: 100%;
        aspect-ratio: 16 / 9;
        max-width: 100%;
        overflow:visible;
        .react-player {
          max-width: 100%;
          max-height: 100%;
        }
    
        &:hover {
          transform: none;
          box-shadow: var(--box);
        }
      }
      .container-footer {
        margin: 2rem 0rem;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .featured-work {
    .hero {
      display: flex;
      flex-direction: column;
      .inner-hero {
        height: 70vh;
        padding: 0rem 4rem;
        .text-box {
          width: 100%;
          margin: 2rem 4rem 2rem 0rem;
          line-height: 1.4;
        }
      }
    }
    .clients {
      .featured {
        flex-direction: column;
        margin: 2rem 0 4rem;
      }
    }
    .featured {
      margin: 2rem 0;
      padding: 2rem 0;
    }
  }
}
