.link-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 25px;
  margin: 3rem 1rem;
  animation: bounceInDown 2s forwards;
}
.service-link {
  --b: 0.1em;
  --d: 10px;
  --_s: calc(var(--d) + var(--b));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18.75px;
  font-weight: bold;
  width: 100%;
  height: 75px;
  color: #fff;
  text-align: center;
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: var(--services-link);
  transform: translate(calc(var(--d) / -1), var(--d));
  clip-path: polygon(
    var(--d) 0%,
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    100% calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
  transition: 0.5s;
  &:hover {
    color: #000;
    transform: translate(0, 0);
    clip-path: polygon(
      0% var(--d),
      var(--d) 0%,
      100% 0%,
      100% calc(100% - var(--d)),
      calc(100% - var(--d)) 100%,
      0% 100%
    );
  }
}
@media screen and (max-width: 1024px) {
  .link-container {
    width: 100%;
    gap: 20px;
    margin: 0rem 0rem 1rem;
    padding: 0rem 1rem;
    animation: fadeInUp 2s forwards;
  }
}
