.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--second);
  box-shadow: var(--global);
  .text-container {
    padding: 2rem 1rem;
    width: 50%;
    .cta-title {
      margin: 0;
      padding: 0rem 4rem;
      font-size: 3rem;
    }
    .cta-p {
      margin: 2rem 4rem;
    }
  }
  .btn-container {
    display: flex;
    width: 50%;
    height: 40%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .cta {
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0rem 0rem;
    box-shadow: none;
    .text-container {
      padding: 0 1rem;
      width: 100%;
      .cta-title {
        padding: 1rem;
        font-size: 1.5rem;
      }
      .cta-p {
        margin: 0rem;
        padding: 0rem;
        font-size: 14px;
      }
    }
    .btn-container {
      width: 100%;
    }
  }
}