.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../assets/images/1746747.webp");
  padding: 2rem 1rem;

  .text-container {
    width: 50%;

    .cta-title {
      margin: 0;
      padding: 0rem 4rem;
      font-size: 3rem;
    }

    .cta-p {
      margin: 2rem 4rem;
    }
  }

  .btn-container {
    display: flex;
    width: 50%;
    height: 40%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .cta {
    gap: 2rem;
    .text-container {
      width: 100%;

      .cta-title {
        padding: 1rem 0;
        font-size: 1.5rem;
      }

      .cta-p {
        margin: 0rem;
        padding: 0;
        font-size: 14px;
      }
    }

    .btn-container {
      flex-direction: column;
    }
  }
}
