
@media screen and (max-width: 768px) {
  .serivces-page {
    .hero {
      height: 80vh;
      .hero-inner {
        padding: 0rem;
        .text-box {
          width: 100%;
          animation: fadeIn 2s forwards;
        }
        .fadeInUp,
        .btn-container {
          margin-top: 1rem;
          gap: 1rem;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {

}
