.app {
  position: relative;
  will-change: contents;
  transform-style: preserve-3d;
  font-family: "Coolvetica", Arial, Helvetica, sans-serif;
  background-image: url("../../assets/images/blue.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  .home-page,
  .about-page,
  .serivces-page,
  .contact-page,
  .single-service,
  .featured-work,
  .client-page,
  .policy-page,
  .client-discovery-form,
  .assistant-page {
    padding: 5.5rem 0rem 4rem;
    animation: fadeIn 2s 0.3s backwards;
    h1 {
      font-size: 48px;
      font-weight: normal;
      font-family: "Coolvetica";
      margin: 0;
    }
    h2 {
      font-size: 40px;
      font-weight: normal;
      font-family: "Coolvetica";
      margin: 0;
    }
    p {
      font-size: 18px;
      line-height: 1.5;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      margin: 0;
      padding: 0.5rem 0;
      animation: fadeInUp 2s forwards;
    }
    .title {
      animation: fadeInLeft 2s forwards;
      margin: 0;
    }
    .subtitle {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18.75px;
      font-weight: 900;
      padding: 1rem 0rem;
      margin: 0;
      color: var(--third-bg);
    }
    .btn-container {
      display: flex;
      margin-top: 1rem;
      gap: 1rem;
      animation: fadeInUp 2s forwards;
    }
    .stage-cube-cont,
    .wrapper {
      animation: fadeIn 4s forwards;
    }
  }
}
.back-to-top {
  position: fixed;
  bottom: 15rem;
  right: 0;
  font-size: 28px;
  padding: 10px;
  margin: 0;
  background: #9d9d9d;
  border-radius: 20% 0% 0% 20%;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  animation: fadeInRight 2s;
  transition: all 1s;
  &:hover {
    background: #636363;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .app {
    background-image: none;
    .home-page,
    .about-page,
    .serivces-page,
    .contact-page,
    .single-service,
    .featured-work,
    .client-page,
    .policy-page,
    .client-discovery-form,
    .assistant-page {
      h1 {
        font-size: 28px;
      }
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
      .btn-container {
        margin: 1rem 0 1.5rem;

        align-items: center;
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .app {
    .home-page,
    .about-page,
    .serivces-page,
    .contact-page,
    .single-service,
    .featured-work,
    .client-page,
    .policy-page,
    .client-discovery-form {
      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }

      .btn-container {
        margin: 1rem 0 1.5rem;

        align-items: center;
      }
    }
  }
}
