.app {
    width: 100%;
    will-change: contents;
    transform-style: preserve-3d;
    font-family: 'Coolvetica';
    background-image: url('../../assets/images/blue.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 
    .home-page,
    .about-page,
    .serivces-page {
        animation: fadeIn 2s;
        h1 {
            font-size: 48px;
            font-weight: normal;
        }

        p {
            font-size: 18px;
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            line-height: 1.5;
            padding-right: 16px;
            font-weight: 900;
            text-align: justify;
        }
    }
}
.back-to-top {
    position: fixed;
    bottom: 15rem;
    right: 0;
    font-size: 28px;
    background: #9d9d9d;
    border-radius: 20% 0% 0% 20%;
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    animation: fadeInRight 2s;
    transition: all 1s;

    &:hover {
        background: #636363;
        color: #fff;
        
    }
}

