.discount-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  animation: fadeIn 1.5s forwards;
  .offer:nth-child(1) {
    animation: fadeInUp 1s 0.2s backwards;
  }

  .offer:nth-child(2) {
    animation: fadeInUp 1s 0.4s backwards;
  }

  .offer:nth-child(3) {
    animation: fadeInUp 1s 0.6s backwards;
  }
  .offer {
    padding: 0 1rem;
    color: #000;
    background: var(--second);
    box-shadow: var(--global);
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      transform: scale(0.99);
      box-shadow: var(--button-shadow);
    }
    .percent {
      color: #e8201e;
      font-weight: bold;
      padding: 0.75rem 0 !important;
    }
    .flat-btn {
      display: none;
    }
  }
}
@media screen and (max-width: 767px) {
  .discount-container {
    flex-flow: row wrap;
    .offer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      width: 175px;
      .flat-btn {
        display: block;
      }
    }
    .desktop {
      display: none;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .discount-container {
    margin: 0rem 4rem;
    flex-wrap: wrap;
    .offer {
      .percent {
        color: #e8201e;
        font-weight: bold;
        padding: 0.25rem 0 0 !important;
      }
    }
  }
}
