.what-we-do {
  .text-box {
    padding: 2rem 0rem 4rem;
    width: 50%;
    h2 {
      text-transform: capitalize;
    }
  }
  .steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    gap: 1.5rem;

    .steps-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      position: relative;
      width: 100%;
      max-width: 300px;
      max-height: 550px;
      background: var(--secondary);
      color: #000;
      border-radius: 5px;
      margin-top: 3rem;
      padding: 3rem 1rem 2rem;
      box-shadow: var(--global);
      cursor: pointer;
      transition: all 0.6s ease-in-out;
      .icon {
        transition: all 0.4s ease-in-out;
      }
      &:hover {
        transform: scale(0.99);
        box-shadow: var(--box);
        .icon {
          box-shadow: var(--button-shadow);
          padding: 10px;
        }
      }
      .mobile-icon {
        display: none;
      }
      h3 {
        font-size: 22px;
      }
      p {
        font-size: 16px;
        text-align: center;
      }
      .icon {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 50%;
        padding: 5px;
        box-shadow: var(--global);
        background: var(--secondary);
        width: 100px;
        height: 100px;
      }
    }
  }
  .btn-container {
    justify-content: center;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .what-we-do {
    .text-box {
      padding: 0rem 1rem 2rem;
    }
    .steps-container {
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
      gap: 2rem;
      .steps-card {
        &:hover {
          .mobile-icon {
            box-shadow: var(--button-shadow);
            padding: 10px;
            transition: 0.4s ease-in-out;
          }
        }
        .icon {
          display: block;
        }
        .mobile-icon {
          display: none;
          position: absolute;
          top: -60px;
          left: 50%;
          transform: translate(-50%);
          border-radius: 50%;
          padding: 5px;
          box-shadow: var(--global);
          background: var(--secondary);
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 798px) and (max-width: 1024px) {
  .what-we-do {
    .steps-container {
      .steps-card {
        flex: 1 1 100%;
      }
    }
  }
}
