.single-service {
  .hero {
    padding: 6rem 0 0 4.8rem !important;
  }
  .hero-inner{
    display: flex;
    .text-box {
      padding-bottom: 4.8rem;
    }
    .gif {
      position: relative;
      bottom: 8rem;
      width: 650px;
      animation: fadeIn 4s forwards;
    }
    .btn-container {
      justify-content: flex-start;
    }
  }
}
.ai-section {
  .ai-inner {
    gap: 3rem;
    .title {
      color: #fff;
    }
    .ai-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      gap: 2rem;
      padding: 2rem 0;
      .ai-card {
        padding: 2rem;
        width: 350px;
        background: var(--second);
        border-radius: 5px;
        color: #000;
        text-align: center;
        box-shadow: var(--box);
        transition: 0.4s ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(0.99);
          box-shadow: var(--button-shadow);
        }
      }
      .launching {
        background: #d2d2d2;
        opacity: 0.7;
      }
      .ai-title {
        font-size: 24px;
        font-weight: normal;
        margin: 1rem;
      }
      .ai-img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .single-service {
    .hero {
      padding: 3rem 0rem 0rem 2rem !important;
    }
    .hero-inner {
      flex-direction: column;
      .gif {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-inner {
    flex-direction: column;
    .gif {
      width: 600px;
      align-self: flex-end;
    }
  }
}
