.home-page {
    .left-hero {
        height: 100vh;
    }
    .right-hero {
        color: #fff;
        position: absolute;
        left: 45%;
        top: 15%;
        padding: 12px;
        width: 50%;
        text-align: justify;


        .letter-contianer {
            color: rgba(255, 255, 255, 0.2);
            font-family: 'Coolvetica';
            font-weight: bold;
            font-size: 96px;
            opacity: 0.4;
        }
    }

    .second-section {
        height: inherit;
        background: var(--secondary);

        .service-title {
            width: 20%;
            margin: 0 5rem;
            padding: 3rem 2rem;
            text-align: center;
        }
    }
}
