.home-page {
    .left-hero {
        width: 50%;
        height: inherit;
       
    }
    .text-box {
        color: #fff;
        position: absolute;
        left: 45%;
        top: 15%;
        padding: 12px;
        width: 50%;
        text-align: justify;
    }
    .title {
        width: 35%;
        margin: 0 0rem;
        padding: 3rem 0rem;
        text-align: center;
    }

    .second-section {
        height: inherit;
        background: var(--secondary);
        box-shadow: var(--global);

        
    }

    .third-section {
        height: inherit;
        box-shadow: var(--global);
    }
}
