.about-page {
  .hero {
    display: grid;
    & > * {
      grid-column: 1;
      grid-row: 1;
    }
    .inner-hero {
      position: relative;
      padding: 1rem 4rem;
      color: #fff;
      .cube-container {
        width: 120px;
        top: 45%;
        right: 5%;
        opacity: 0.5;
      }
      .text-box {
        width: 70%;
        margin: 2rem 0;
        .title {
          animation: fadeInLeft 2s forwards;
        }
        .social-container {
          display: flex;
          margin: 1rem 0;
          animation: fadeInUp 2s forwards;
        }
      }
      .btn-container {
        justify-content: flex-start;
      }
    }
  }
}
.second-section {
  .second-inner {
    position: relative;
    box-shadow: var(--global);
    margin: 2rem 0rem 4rem;
    padding: 0 4rem 4rem;
    .title {
      text-align: center;
      margin: 0;
      padding: 3rem 5rem;
    }
    .contentAnim {
      margin-top: 0rem;
      animation: fadeIn 1s forwards;
    }
    .none {
      opacity: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .about-page {
    .hero {
      .inner-hero {
        padding: 0rem 2rem;
        .cube-container {
          display: none;
          width: 70px;
          top: 35%;
          left: 65%;
        }
        .text-box {
          width: 100%;
          margin: 0rem;
          padding-bottom: 2rem;
          .cube-container {
            width: 120px;
            top: 50%;
            right: 5%;
            opacity: 0.5;
          }
          .social-container {
            padding-top: 1rem;
          }
          .btn-container {
            margin-top: 5rem;
            gap: 20px;
          }
        }
      }
    }
    .second-section {
      .second-inner {
        margin: 0rem;
        padding: 2rem 0;
        .title {
          padding: 2rem;
          margin: 0;
        }
        .team-container {
          margin-top: 5rem;
        }
      }
    }
    .cta {
      margin-top: 2rem;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about-page {
    .hero {
      height: 70vh;
      .inner-hero {
        padding: 0rem 4rem;
        .cube-container {
          width: 100px;
          top: 50%;
          right: 15%;
          opacity: 0.5;
        }
        .text-box {
          width: 100%;
          margin: 2rem 0rem;
          line-height: 1.4;
        }
      }
    }
    .second-section {
      .second-inner {
        .title {
          text-align: center;
          margin: 0;
          padding: 3rem 5rem;
        }

        .contentAnim {
          margin-top: 8rem;
          animation: fadeInUp 1s forwards;
        }

        .none {
          opacity: 0;
        }
      }
    }
  }
}