.about-page {
  .hero {
    position: relative;
    .cube-container {
      width: 140px;
      top: 60%;
      right: 1%;
    }
    .inner-hero {
      margin: 2rem 3rem;
      padding: 4rem 1rem;
      color: #fff;

      .text-box {
        display: flex;
        justify-content: space-around;
        gap: 5rem;
        margin: 2rem 4rem;

        .left-hero {
          max-width: 50%;
          animation: fadeInLeft 2s forwards;

          .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin: 5rem 15rem 0 0;
          }
        }

        .right-hero {
          margin-top: -15px;
          padding-right: 3rem;
          animation: fadeInDown 2s forwards;
        }
      }
    }
  }

  .second-section {
    background-image: url("../../../assets/images/1746747.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;

    .second-inner {
      min-height: 100vh;
      margin: 2rem 3rem 8rem;
      padding: 2rem 1rem;

      .title {
        margin: 2rem;
        text-align: center;
      }
      

      .contentAnim {
        animation: fadeInUp 1s forwards;
      }

      .none {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .about-page {
    .hero {
      .inner-hero {
        margin: 2em 0rem;
        padding: 2rem 0rem;

        .cube-container {
          width: 70px;
          top: 35%;
          left: 65%;
        }

        .text-box {
          flex-direction: column;
          gap: 4rem;
          margin: 4rem;

          .left-hero {
            max-width: initial;

            .btn-container {
              align-items: flex-start;
              gap: 1rem;
              margin-top: 2rem;
            }
          }

          .right-hero {
            padding: 0rem;
            margin: 0;
            animation: fadeInUp 2s forwards;
          }
        }
      }
    }

    .second-section {
      background-image: url("../../../assets/images/1746747.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;

      .second-inner {
        margin: 0rem;
        padding: 2rem 0;

        .title {
          padding: 2rem;
          margin: 0;
        }

        .team-container {
          margin-top: 5rem;
        }
      }
    }
  }
}
