.about-page {
  .hero {
    .cube-container {
      width: 100px;
      top: 18%;
      right: 0;
    }
    .inner-hero {
      margin: 2rem 3rem;
      padding: 4rem 1rem;
      color: #fff;

        

      .text-box {
        display: flex;
        justify-content: space-around;
        gap: 5rem;
        margin: 4rem;

        .left-hero {
          max-width: 50%;
          animation: fadeInLeft 2s forwards;

          .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5rem 15rem 0 0;
          }
        }

        .right-hero {
          margin-top: -15px;
          margin-left: 1rem;
          max-width: 50%;
          animation: fadeInDown 2s forwards;
        }
      }
    }
  }

  .second-section {
    background-image: url("../../../assets/images/1746747.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    .second-inner {
      min-height: 100vh;
      margin: 2rem 3rem 8rem;
      padding: 2rem 1rem;

      .title {
        margin: 2rem;
        text-align: center;
      }
      .team-container {
        margin: 5rem 0rem;
        animation: fadeIn 2s forwards;
      }

      .contentAnim {
        animation: fadeInUp 1s forwards;
        margin: 2rem;
      }
      
      .none {
        display: none;
      }
    }
  }
}

@media screen and (max-width:800px) {
  .about-page {
    .hero {
      .inner-hero {
        margin: 2em 0rem;
        padding: 2rem 0rem;

        .cube-container {
          display: none;
          width: 70px;
          opacity: 0.1;
          top: 15%;
          left: 65%;
        }
  
        .text-box {
          flex-direction: column;
          gap: 2rem;
          margin: 4rem;
  
          .left-hero {
            max-width: initial;
            animation: fadeInLeft 2s forwards;
  
            .btn-container {
              align-items: flex-start;
              gap: 1rem;
              margin-top: 2rem;
            }
          }
  
          .right-hero {
            margin: 1rem 2rem 4rem;
            max-width: initial;
            margin-left: 0;
            animation: fadeInUp 2s forwards;
          }
        }
      }
    }
  
    .second-section {
      background-image: url("../../../assets/images/1746747.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
  
      .second-inner {
        margin: 2rem;
        padding-top: 2rem;

        .title {
          padding: 2rem;
          margin: 0;
        }

        .team-container {
          margin-top: 5rem;
        }
      }
    }
    .cta {
      min-height: 0vh;
    }
  }
}
