
.accordion {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    p {
    animation: none !important;
    }

    .accordion-item {
        width: 25%;
        background: var(--services-link);
        margin: 0 5rem;
        text-align: center;
        box-shadow: var(--global);
        cursor: pointer;
    }

    .content-container {
        position: absolute;
        left: 50%;
        top: 105%;
        width: 35%;
        max-height: 200px;
        text-align: justify;
    }

    .accordion-subtitle {
        margin-bottom: 4rem;
        
    }
}
