.home-page {
  .hero {
    display: flex;
    justify-content: space-between;
    color: #fff;

    .main-title {
      font-size: 60px;
      line-height: 1.5;
      text-align: center;
    }

    .text-box {
      margin: 1rem 6rem;
      animation: fadeIn 2s forwards;
    }

    .typewriter {
      margin-bottom: 3rem;
      font-size: 60px;
      text-align: center;
      background: linear-gradient(to right, #fff, #a76c2b);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .text {
      text-align: center;
      p {
        font-size: 20px;
      }
    }

    .btn-container {
      justify-content: center;
    }
  }

  .second-section {
    .second-inner {
      position: relative;
      background-image: url("../../../assets/images/1746747.webp");
      background-repeat: no-repeat;
      background-size: cover;

      box-shadow: var(--global);
      padding-bottom: 15rem;

      .title {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 2rem;
      }
      .text-box {
        padding: 0rem 6rem;
      }
      .accordion {
        margin-top: 3rem;
        .content-container {
          margin-top: 10rem;
          color: #2d5fe1;
        }
      }

      .anim {
        animation: fadeIn 1s forwards;
      }

      .none {
        opacity: 0;
      }
    }
  }

  .third-section {
    .third-inner {
      color: #fff;
      margin-bottom: 2rem;
      padding: 2rem 1rem;

      .thirdLt {
        animation: bounceInLeft 2s;
      }

      .thirdRt {
        animation: bounceInRight 2s;
      }

      .third-none {
        opacity: 0;
      }

      .title {
        padding: 2rem 0;
        text-align: center;
      }
      .text-contanier {
        padding: 0rem 10rem 3rem;
        text-align: center;
      }

      .element-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, auto));
        grid-gap: 2rem;
        margin: 0;
        padding: 1rem 2rem;

        .elem-card {
          display: flex;
          gap: 3rem;
          background: var(--primary);
          border: 2px solid;
          padding: 1rem;
          vertical-align: middle;
          transform: perspective(1px) translateZ(0);

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom center;
            background: var(--secondary);
            color: #000;
            z-index: -1;
            transition: transform 0.4s;
          }

          &:hover {
            color: #000;
          }

          &:hover:after {
            transform: scaleY(1);
          }

          .icon {
            font-size: 4rem;
            align-self: center;

            svg {
              width: 100px;
              height: 100px;
              margin-top: 10px;
              padding: 20px;
              border-radius: 50%;
              background: #9d9d9d;
            }
          }

          .copy {
            display: flex;
            flex-direction: column;

            .elem-title {
              font-weight: 900;
              font-size: 1.7rem;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }

  .forth-section {
    padding: 1rem 0rem 6rem;
    .forth-inner {
      position: relative;
      background-image: url("../../../assets/images/1746747.webp");
      background-repeat: no-repeat;
      background-size: cover;

      box-shadow: var(--global);
      padding-bottom: 6rem;
      .title {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 2rem 5rem;
        color: #000;
      }
      .text-contanier {
        padding: 0rem 10rem 3rem;
        color: #000;
      }
      .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-page {
    .hero {
      flex-direction: column;

      .main-title {
        font-size: 30px;
      }
      .text-box {
        margin: 0rem 1rem;
      }

      .typewriter {
        font-size: 28px;
      }

      .text {
        p {
          font-size: initial;
          text-align: initial;
          padding: 1rem;
        }
      }

      .btn-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }

    .second-section {
      margin: 0;
      .second-inner {
        margin: 0;
        padding: 1rem 2rem 25rem 2rem;
        .title {
          width: 100%;
          padding: 1rem 2rem;
        }
        .cube-container {
          top: 30%;
        }
        .text-box {
          padding: 0rem 0rem;
        }
        .accordion {
          margin-top: 1rem;

          .content-container {
            margin-top: 8rem;
          }
        }
      }
    }

    .third-section {
      .third-inner {
        padding: 2rem 0rem;

        .title {
          padding: 0rem;
        }
        .text-contanier {
          padding: 0rem 2rem;
          text-align: initial;
        }

        .element-container {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          padding: 1rem;

          .elem-card {
            flex-direction: column;
            gap: 0rem;
            cursor: pointer;

            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transform: scaleY(0);
              transform-origin: bottom center;
              background: var(--secondary);
              color: #000;
              z-index: -1;
              transition: transform 0.4s;
            }

            &:hover {
              color: #000;
            }

            &:hover:after {
              transform: scaleY(1);
            }

            .icon {
              svg {
                width: 50px;
                height: 50px;
                margin-top: 10px;
                padding: 20px;
                border-radius: 50%;
                background: #9d9d9d;
              }
            }

            .copy {
              display: flex;
              text-align: center;

              .elem-title {
                font-weight: 900;
                font-size: 1.7rem;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }

    .forth-section {
      padding: 1rem 0rem;
      .forth-inner {
        .text-contanier {
          padding: 0rem 2rem 3rem;
        }
      }
    }
  }
}
