.home-page {
  .hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10rem;

    .right-hero {
      color: #fff;
      padding: 4rem 1rem;
      width: 50%;
      margin: 4rem 1rem;
    }

    .left-hero {
      position: relative;
      width: 45%;
    }

    .text-box {
      margin: 2rem 1rem;
      animation: fadeInRightBig 2s forwards;
    }
  }

  .second-section {
    
    .second-inner {
      position: relative;
      background-image: url("../../../assets/images/1746747.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;

      box-shadow: var(--global);
      padding-bottom: 15rem;

      .title {
        width: 100%;
        text-align: left;
        margin: 0;
        padding: 2rem 5rem;
      }
    }
  }

  .third-section {
    .third-inner {
      .view-btn {
        margin-top: 4rem;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .home-page {
    .hero {
      flex-direction: column-reverse;
      width: 100%;
      .right-hero {
        display: flex;
        color: #fff;
        width: 100%;
        margin: 3rem 0;
      }
      .text-box {
        margin-top: 1rem;
        animation: fadeInRightBig 2s forwards;
      }
    }

    .second-section {
      margin: 0;
      .second-inner {
        .title {
          width: 100%;
          padding: 1rem 2rem;
        }
      }
    }

    .third-section {
      padding: 0rem;

      .view-btn {
        margin: 3rem;
      }
    }
  }
}
