.home-page {
  .hero {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 4rem 2rem;
    margin: 3rem 2rem;

    .main-title {
      font-size: 60px;
      line-height: 1.5;
      text-align: center;
    }
  
    .text-box {
      margin: 1rem;
      animation: fadeIn 2s forwards;
      
    }

    .typewriter {
      margin-bottom: 3rem;
      font-size: 60px;
      text-align: center;
      background: linear-gradient(to right, #fff,#A76C2B);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .text {
      text-align: center;
      margin: 0;
      p {
      font-size: 20px;
    }
    }

  
    .btn-container {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      gap: 3rem;
      animation: zoomIn 1s forwards;
    }
  }

  .second-section {
    .second-inner {
      position: relative;
      background-image: url("../../../assets/images/1746747.webp");
      background-repeat: no-repeat;
      background-size: cover;

      box-shadow: var(--global);
      padding-bottom: 15rem;

      .title {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 2rem 5rem;
      }
      .text-box {
        text-align: justify;
        padding: 0 10rem;
      }
      .accordion {
        margin-top: 3rem;
        .content-container {
          margin-top: 8rem;
          color: #2d5fe1;
        }
      }

      .anim {
        animation: fadeIn 1s forwards;
      }

      .none {
        opacity: 0;
      }
    }
  }

  .third-section {
    padding: 1rem 0rem 6rem;
    .third-inner {
      .title {
          width: 100%;
          text-align: center;
          margin: 0;
          padding: 2rem 5rem;
          color: #fff;
      }
      .text-contanier {
        padding: 0rem 10rem 3rem;
        color: #fff;
      }
      .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .home-page {
    .hero {
      flex-direction: column-reverse;
      width: 100%;
      display: flex;
      color: #fff;
      width: 100%;
      margin: 2rem 0;

      .main-title {
          font-size: 30px;
        }
      
        .typewriter {
          font-size: 28px;
        }
      
        .text {
          text-align: center;
          margin: 0;
      
          p {
            font-size: initial;
            text-align: initial;
            padding: 1rem;
          }
        }
      
      .btn-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
    }

    .second-section {
      margin: 0;
      .second-inner {
        padding-bottom: 25rem;
        .title {
          width: 100%;
          padding: 1rem 2rem;
        }
        .cube-container {
          top: 20%;
        }
        .text-box {
          padding: 0rem 2rem;
        }
        .accordion {
          margin-top: 1rem;

          .content-container {
            margin-top: 7rem;
          }
        }
      }
    }

    .third-section {
      padding: 1rem 0rem;
      .third-inner {
        .text-contanier {
          padding: 0rem 2rem 3rem;
        }
      }
    }
  }
}
