.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem;
  gap: 2em;
}

.price-card {
  position: relative;
  flex: 1 20%;
  height: 500px;
  overflow: hidden;
  max-width: calc(20% - 10px);
  background: var(--secondary);
  box-shadow: var(--global);
}