.popup-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .popup {
    display: flex;
    align-items: center;
    margin: -2rem 8rem;
    font-family: "Inter", sans-serif;
    background: #fff;
    margin-top: 2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    .audit-img {
      width: 550px;
      max-width: 100%;
      height: 575px;
      max-height: 100%;
      object-fit: fill;
    }
    .title {
      margin: 1rem 0;
      font-size: 24px;
      animation: none;
    }
    .text-box {
      display: flex;
      flex-direction: column;
      padding: 0rem 2rem;
      p {
        margin: 0;
      }
    }
  }
  .popup-close {
    align-self: flex-end;
    cursor: pointer;
  }
  .popup-form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem 0 0;
    .subject {
      display: none;
    }
    .form-group {
      position: relative;
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: column;

      label {
        position: absolute;
        top: -10px;
        left: 10px;
        padding: 0 2px;
        background: #fff;
        font-size: 0.7rem;
        color: #2c5fe1;
      }

      input,
      select {
        max-width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
    .audit-button {
      text-transform: uppercase;
      background: var(--primary);
      color: #fff;
      letter-spacing: 2.5px;
      font-weight: 600;
      padding: 1rem;
      border-radius: 5px;
      border: none;
      box-shadow: var(--button-shadow);
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: translateY(-1px);
        background: var(--primary);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .popup-overlay {
    .popup {
      flex-direction: column;
      margin-top: 1rem;
      .text-box {
        padding: 0 1rem;
        svg {
          padding-right: 1rem;
        }
        .title {
          font-size: 20px;
        }
      }
      .audit-img {
        width: 800px;
        height: 300px;
      }
      .popup-form {
        flex-flow: column wrap;
        justify-content: center;
        padding: 2rem;
      }
    }
    .audit-button {
      font-size: 10px;
      margin: 0;
    }
  }
}
