.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    .popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 700px;
        font-family: "Coolvetica";
        background: #fff;
        margin-top: 1rem;
        padding: 1rem 2rem;
        border-radius: 8px;
        text-align: center;
        box-shadow: var(--global);
    }
    .popup-close {
        align-self: flex-end;
        border: none;
        font-size: 20px;
        cursor: pointer;
    }
    .popup-form {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 80%;
        padding: 1rem;
        .subject {
            display: none;
        }
        .form-group {
            position: relative;
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;

            label {
                position: absolute;
                top: -10px;
                left: 15px;
                background: #fff;
                padding: 0 5px;
                font-size: 0.9rem;
                color: #2C5FE1;
            }

            input {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 10px;
                font-size: 1rem;
                & :focus {
                    border: var(--primary);
                }
            }
        }
        .button {
            text-transform: uppercase;
            background: #000;
            color: #fff;
            letter-spacing: 4px;
            font-family: sans-serif;
            font-weight: 600;
            text-decoration: none;
            text-align: center;
            padding: 1rem;
            float: left;
            border-radius: 10px;
            border: none;
            min-width: fit-content;
            box-shadow: var(--button-shadow);
            transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;
            cursor: pointer;

            &:hover {
                transform: translateY(-3px);
                background: var(--primary);
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            }
        }

        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
 @media screen and (max-width: 1024px) {
     .button {
         font-size: 10px;
         margin: 0;
     }
 }
