.featured-work {
  .hero {
    display: flex;
    .inner-hero {
      display: flex;
      align-items: center;
      gap: 50px;
      margin: 4rem 0rem;
      padding: 2rem 4rem;
      color: #fff;

      .text-box {
        width: 70%;
        margin: 2rem 0rem;
        animation: fadeInLeft 2s forwards;

        .button-container {
          display: flex;
          padding: 2rem 0;
          gap: 50px;
        }
      }
    }
    .spinner {
      position: relative;
      right: 25%;
    }
  }

  .clients {
    background-image: url("../../../assets//images/1746747.webp");
    margin: 0rem 0 4rem;
    padding: 2rem 4rem;
    box-shadow: var(--global);
  }

  .featured {
    margin: 4rem 0;
    padding: 2rem 0;
    text-align: center;
    h2 {
      color: #fff;
    }
  }

  .anim {
    animation: fadeIn 2s forwards;
  }

  .none {
    opacity: 0;
  }
}
@media screen and (max-width: 920px) {
  .featured-work {
    .hero {
      flex-direction: column;
      .inner-hero {
        margin: 4rem 0rem 0rem;
        padding: 2rem;

        .text-box {
          width: 100%;
          margin: 2rem 0rem;
          padding-bottom: 2rem;

          .button-container {
            display: flex;
            flex-direction: column;
            padding: 0rem;
            gap: 20px;
          }
        }
      }
      .spinner {
        right: 0;
      }
    }

    .clients {
      margin: 0 0 2rem;
      padding: 1rem 2rem;
    }

    .featured {
      margin: 1rem 0;
    }
  }
}
