.featured-work {
  .hero {
    display: grid;
    
      &>* {
        grid-column: 1;
        grid-row: 1;
      }
    
      .video {
        margin-top: -7rem;
        width: 100%;
        min-width: 100vw;
        height: auto;
        min-height: 100vh;
        opacity: 0.5;
        object-fit: cover;
      }

    .inner-hero {
      gap: 50px;
      padding: 0rem 6rem;
      color: #fff;

      .text-box {
        width: 50%;
        margin: 2rem 0rem;
      }
    }
    
    .spinner {
      margin-left: 40rem;
    }
  }

  .clients {
    background-image: url("../../../assets//images/1746747.webp");
    margin: 0rem 0rem 5rem;
    padding: 2rem 4rem;
    box-shadow: var(--global);
  }

  .featured {
    margin: 4rem 0;
    padding: 2rem 0;
    text-align: center;
    h2 {
      color: #fff;
    }
  }

  .anim {
    animation: fadeIn 2s forwards;
  }

  .none {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .featured-work {
    .hero {
      flex-direction: column;
      .inner-hero {
        padding: 0rem 2rem;

        .text-box {
          width: 100%;
          margin: 0rem;
          padding-bottom: 2rem;

          .button-container {
            gap: 20px;
          }
        }
      }
      .spinner {
        margin-left: 2rem;
        margin-top: 25rem;
        margin-bottom: 0;
      }
    }

    .clients {
      padding: 1rem 2rem;
    }

    .featured {
      margin: 1rem 0;
    }
  }
}
