.serivces-page {
  .hero {
   .hero-inner {
      margin: 2em 3rem;
      padding-top:2rem;
      height: 100vh;
      color: #fff;
      
      .text-box {
        padding: 4rem 0rem 0 2rem;
        width: 50%;
        animation: fadeInLeftBig 2s;
      }

      .cube-container {
        top: 10%;
        left: 55%;
        opacity: 0.9;
      }

      .link-container {
        display: flex;
        flex-direction: column;
        width: 25%;
        position: absolute;
        right: 0;
        top: 4%;
        gap: 25px;
        margin: 0 3rem;
        animation: bounceInDown 2s;
      }

      .service-link {
        --b: .1em;
        --d: 10px;
      
        --_s: calc(var(--d) + var(--b));
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 75px;
        border: solid #0000;
        border-width: var(--b) var(--b) var(--_s) var(--_s);
        background: var(--services-link);
        transform: translate(calc(var(--d)/-1), var(--d));
        clip-path: polygon(var(--d) 0%,
            var(--d) 0%,
            100% 0%,
            100% calc(100% - var(--d)),
            100% calc(100% - var(--d)),
            var(--d) calc(100% - var(--d)));
        transition: 0.5s;
      
        &:hover {
          transform: translate(0, 0);
          clip-path: polygon(0% var(--d),
              var(--d) 0%,
              100% 0%,
              100% calc(100% - var(--d)),
              calc(100% - var(--d)) 100%,
              0% 100%);
        }
      }
    }
  }
  
  .second-section {
    background-image: url('../../../assets/images/light-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .second-inner {
      display: flex;
      flex-direction: column;
      
      height: 175vh;
      margin: 0rem;
      padding-top: 2rem;

      .text-box {
        padding: 5rem;
        width: 100%;
        color: #000;

        h2 {
          font-family: sans-serif;
        }
      }

      .none {
        display: none;
      }

      .price-card {
        background: var(--secondary);
      }

      .contentAnim {
        animation: backInUp 1s forwards;  
        background: var(--primary);
        overflow: hidden;
        margin: 0 2rem;
        padding: 4rem 1rem;
      }
      
    }
  }

  .third-inner {
    margin: 2rem;
    height: 100vh;
  }

  .cta {
    background-image: url('../../../assets/images/light-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }
}