.serivces-page {
  .hero {
    .hero-inner {
      margin: 2em 3rem;
      padding-top: 2rem;
      height: 100vh;
      color: #fff;

      .text-box {
        padding: 4rem 0rem 0 2rem;
        width: 50%;
        animation: fadeInLeftBig 2s;
      }

      .cube-container {
        top: 8%;
        left: 55%;
      }

      .link-container {
        display: flex;
        flex-direction: column;
        width: 25%;
        position: absolute;
        right: 0;
        top: 2.8%;
        gap: 25px;
        margin: 0 3rem;
        animation: bounceInDown 2s;
      }

      .service-link {
        --b: 0.1em;
        --d: 10px;

        --_s: calc(var(--d) + var(--b));
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 75px;
        border: solid #0000;
        border-width: var(--b) var(--b) var(--_s) var(--_s);
        background: var(--services-link);
        transform: translate(calc(var(--d) / -1), var(--d));
        clip-path: polygon(
          var(--d) 0%,
          var(--d) 0%,
          100% 0%,
          100% calc(100% - var(--d)),
          100% calc(100% - var(--d)),
          var(--d) calc(100% - var(--d))
        );
        transition: 0.5s;

        &:hover {
          transform: translate(0, 0);
          clip-path: polygon(
            0% var(--d),
            var(--d) 0%,
            100% 0%,
            100% calc(100% - var(--d)),
            calc(100% - var(--d)) 100%,
            0% 100%
          );
        }
      }
    }
  }

  .second-section {
    background-image: url("../../../assets/images/1746747.jpg");
    box-shadow: var(--global);

    .second-inner {
      display: flex;
      margin: 0rem;
      padding: 4rem 1rem;

      img {
        width: 550px;
        height: 400px;
        object-fit: fill;
        opacity: 0.9;
      }

      .text-box {
        padding: 0 2rem 0 5rem;
        width: 70%;
        color: #000;
      }
    }
  }
  .third-section {
    height: 150vh;
    .third-inner {
      color: #fff;
      margin: 2rem;
      height: 100vh;

      .title {
        padding: 3rem;
        text-align: center;
      }

      .element-container {
        display: flex;
        width: 100%;
        flex-grow: 0;
        align-self: initial;
        gap: 5em;
      }

      .elem-card {
        display: flex;
        flex-flow: column wrap;
        width: 40%;
      }
    }
  }

  .forth-section {
    background-image: url("../../../assets/images/1746747.jpg");
    box-shadow: var(--global);
    height: 150vh;

    .forth-inner {
      .none {
        display: none;
      }

      .price-card {
        color: #000;
        background: var(--secondary);
      }

      .contentAnim {
        animation: backInUp 1s forwards;
        background: var(--primary);
        overflow: hidden;
        margin: 0 2rem;
        padding: 4rem 1rem;
      }
    }
  }

  .cta {
    background-image: url("../../../assets/images/1746747.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
