.client-container {
  padding: 0rem 0 3rem;
  .inner-container {
    display: flex;
    align-items: center;
    gap: 20px;

    .player-wrapper {
      display: flex;
      align-items: center;
      width: 40%;
    }

    button {
      margin: 1rem 0;
    }
  }

  .title-container {
    display: flex;
    align-items: center;
    gap: 50px;
    .title {
      margin: 2rem 0;
    }
    .logo {
      width: 200px;
      height: 125px;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  .name {
    padding: 1rem 0;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
  }

  .wireframe {
    width: 250px;
    height: 530px;
    border: 2px solid black;
  }
  .contact {
    width: 250px;
    height: 250px;
    border: 1px solid black;
  }
  .mobile-wireframe {
    border: 1px solid black;
    width: 70px;
    height: 530px;
  }
}

@media screen and (min-width:768px) and (max-width: 1024px) {
  .client-container {
      .images {
        justify-content: space-evenly;
      }
  
      .wireframe {
        width: 200px;
      }
  
      .mobile-wireframe {
        width: 100px;
        height: 530px;
      }
    }
}

@media screen and (max-width: 768px) {
  .client-container {
    .inner-container {
      display: flex;
      flex-direction: column;
      gap: 0px;
      padding: 1rem 0;

      .player-wrapper {
        width: 100%;
        margin: 0;
      }

      button {
        margin: 1rem 0;
      }
    }

    .title-container {
      display: flex;
      align-items: center;
      gap: 30px;

      .logo {
        width: 100px;
        height: 50px;
      }
    }

    .name {
      padding: 1rem 0;
    }

    .images {
      justify-content: space-around;
      gap: 5px;
      margin: 0;
    }

    .wireframe {
      width: 75px;
      height: 250px;
    }

    .contact {
      width: 75px;
      height: 125px;
    }

    .mobile-wireframe {
      width: 50px;
      height: 300px;
    }
  }
}
