.container {
  background: url("../../../assets/images/1746747.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 0em;
  overflow: hidden;
  height: 100vh;
  h1 {
    color: red;
    font-family: "Coolvetica";
    padding-top: 2rem;
  }
  img {
    margin-top: 0rem;
    width: 650px;
  }
}
