.container {
  background: url("../../../assets/images/1746747.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--second-section);
  margin: 0em;
  overflow: hidden;
  height: 100vh;
  h1 {
    color: rgb(255, 255, 255);
    font-family: "Inter";
    padding-top: 2rem;
  }
  img {
    margin-top: 0rem;
    aspect-ratio: 16 / 9;
    width: 500px;
    height: 100%;
  }
}
