.pricing-page {
  .hero {
    .inner-hero {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5rem;
      padding: 1rem 4rem 3rem;
      color: #fff;

      .text-box {
        width: 60%;
        margin: 2rem 1rem;

        .title {
          animation: fadeInLeft 2s forwards;
        }

        .fadeInUp,
        .button-container {
          animation: fadeInUp 2s forwards;
        }

        .button-container {
          display: flex;
          margin-top: 3rem;
          gap: 1rem;
        }
      }
    }
  }

  .light-section {
    background-image: url("../../../assets/images/1746747.webp");
    box-shadow: var(--global);
    .light-inner {
      padding: 2rem 0 5rem;
      .text-box {
        text-align: center;
        padding: 1rem 8rem;
      }
    }
  }

  .dark-section {
    .dark-inner {
      padding: 2rem 0 5rem;

      .text-box {
        text-align: center;
        padding: 1rem 8rem;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pricing-page {
    .hero {
      .inner-hero {
        flex-direction: column;
        padding: 0rem 2rem;

        .text-box {
          width: 100%;
          margin: 0;

          .button-container {
            gap: 20px;
          }
        }
      }
    }

    .light-section {
      .light-inner {
        padding: 2rem;

        .text-box {
          padding: 1rem;
        }
      }
    }

    .dark-section {
      .dark-inner {
        padding: 2rem;

        .text-box {
          padding: 1rem;
        }
      }
    }
  }
}
