footer {
  position: relative;
  bottom: 0;
  margin: 0;
  width: 100%;
  font-family: "Coolvetica";
  text-transform: uppercase;
  color: #fff;

  .foot-title {
    display: flex;
    justify-content: center;
    .footer-logo {
      width: 250px;
    }
  }

  .footer-container {
    display: flex;
    gap: 50px;
    margin-left: 60px;

    .site-links {
      display: flex;
      align-items: center;
      gap: 50px;
    }

    li {
      list-style: none;
      text-align: left;
      a {
        cursor: pointer;
      }
    }
  }
  .div-line {
    margin: 1rem 5rem;
    border: 1px solid var(--third-bg);
  }
  .socials-container {
    display: flex;
    flex-direction: column;
  }
  .copy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    width: 100%;
    .foot-title {
      .footer-logo {
        width: 100px;
      }
    }

    .footer-container {
      margin: 0;
      .site-links {
        font-size: 9px;
        gap: 8px;
      }
    }

    .div-line {
      margin: 1rem 5rem;
      border: 1px solid var(--third-bg);
    }

    .socials-container {
      display: flex;
      flex-direction: column;
    }

    .copy {
      font-size: 9px;
    }
  }
}
