.breadcrumbs {
  position: absolute;
  width: 100%;
  left: 0;
  padding-left: 5rem;
  padding-bottom: 25px;
  font-family: poppins, sans-serif;
  margin-top: 5.1rem;
  height: 20px;
  > * {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #000;
    }
  }
  .crumb {
    &::after {
      content: ">";
      margin-left: 10px;
      font-weight: 900;
    }
    &:last-child::after {
      display: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .breadcrumbs {
    padding-left: 32px;
    padding-top: 8px;
    font-size: 12px;
    margin-top: 3rem;
  }
}
