.breadcrumbs {
    position: absolute;
    width: 100%;
    left: 0;
    padding-left: 30px;
    background: var(--primary);
    font-family: sans-serif;
    margin-top: 4.5rem;
    height: 20px;

    > * {
        display: inline-block;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
    
    .crumb {
        ::after {
            content: '>';
            margin-left: 10px;
        }
        :last-child::after {
            display: none;
        }
    }
}

