.breadcrumbs {
    max-width: 100%;
    margin: 20px;

    > * {
        display: inline-block;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    .crumb::after {
        content: '>';
        margin-left: 10px;

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}

