.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; // Prevent interaction with snowflakes
    z-index: 9999; // Ensure it appears above all other elements
    overflow: hidden; // Prevent snowflakes from extending past the viewport
}

.snowflake {
    position: absolute;
    top: -20px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh); // Snowflakes fall from top to bottom
    }
}
@media screen and (max-width: 768px) {
    .snowflake {
        opacity: 0.5; // Reduce opacity for performance
        width: 2px;
        height: 2px;
    }
}