:root {
  --main-bg: #2D5FE1;
  --second-bg: #F6F6F6;
  --third-bg: #2D75E1;
  --services-link: #000 linear-gradient(90deg #2D5FE1, #f6f6f6, #2d5fe1 );
  
}

body {
  margin: 0;
  min-height: 100vh;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-oxs-font-smoothing: grayscale;
}

h1 {
  line-height: 1.1;
}



