:root {
  --primary: linear-gradient(to right, #064895, #2b66a7);
  --secondary: linear-gradient(to right, #ffffff, #858585);
  --third-bg: #2d60e0;
  --main: #1b4d99;
  --second-section: #193563;
  --second: #f0f0f0;
  --services-link: radial-gradient(#6a9eda, 40%, #2d5fe1);
  --global: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  --box: 0px 0px 10px 3px #afceff46;
  --button-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  width: 100%;
  height: 100%;
  background: var(--second-section);
}
body {
  margin: 0;
  letter-spacing: 2.5px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-oxs-font-smoothing: grayscale;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #454545;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--third-bg);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--second);
}
