:root {
  --primary: linear-gradient(to right, #064895, #2b66a7);
  --secondary: linear-gradient(to right, #ffffff, #bbbbbb);
  --third-bg: #2d75e1;
  --services-link: radial-gradient(#6a9eda, 40%, #2d5fe1);
  --global: 0px 20px 40px 5px rgba(0, 0, 0, 0.7);
  --box: 0px 40px 40px 20px rgba(0, 0, 0, 0.5);
  --button-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
}

#root {
  position: relative;
  padding-bottom: 20px;
  min-height: 100vh;
}

main {
  position: relative;
}

body {
  margin: 0;
  letter-spacing: 3px;
  background: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-oxs-font-smoothing: grayscale;
}

