.accordion {
  display: flex;
  flex-flow: column;
  gap: 3rem;
  .accordion-item {
    width: 30%;
    height: 50px;
    margin: 0 5rem;
    text-align: center;
    cursor: pointer;
  }
  .content-container {
    position: absolute;
    left: 45%;
    top: 15%;
    width: 50%;
    text-align: left;
    animation: fadeIn 2s;
  }
  .accordion-subtitle {
    font-size: 24px;
    font-weight: bold;
    margin: 1rem 0;
  }
  .read-btn {
    margin-top: 1rem;
    animation: shakeX 1s 2s;
  }
}
.accordion-title {
  --b: 0.1em;
  --d: 10px;
  --_s: calc(var(--d) + var(--b));
  width: 100%;
  color: #fff;
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: var(--services-link);
  transform: translate(calc(var(--d) / -1), var(--d));
  clip-path: polygon(
    var(--d) 0%,
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    100% calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
  transition: 0.5s;
  &:hover {
    color: #000;
    transform: translate(0, 0);
    clip-path: polygon(
      0% var(--d),
      var(--d) 0%,
      100% 0%,
      100% calc(100% - var(--d)),
      calc(100% - var(--d)) 100%,
      0% 100%
    );
  }
}
@media screen and (max-width: 768px) {
  .accordion {
    gap: 4rem;
    .accordion-item {
      width: 20rem;
      height: 10px;
      margin: 0rem;
      padding: 0rem;
    }
    .content-container {
      left: 0%;
      top: 53%;
      padding: 0rem 2rem;
      font-size: 11px;
      width: 100%;
      text-align: center;
      animation: fadeIn 2s forwards;
      .accordion-subtitle {
        margin-bottom: 0rem;
        font-size: 14px;
      }
    }
    .read-btn {
      display: flex;
      justify-content: center;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
.accordion {
    gap: 4rem;
    .accordion-item {
      width: 40%;
      height: 10px;
      margin: 0rem;
      padding: 0rem;
    }
    .content-container {
      top: 18%;
      padding: 0rem 2rem;
      width: 50%;
      animation: fadeIn 2s forwards;
      .accordion-subtitle {
        margin-bottom: 0.5rem;
        font-size: 20px;
      }
    }
  }
}
