.package-page {
    .hero {
        min-height: 100vh;
    
        .inner-hero {
            margin: 2em 3rem;
            padding: 4rem 1rem;
            color: #fff;
    
            .text-box {
                padding: 4rem 2rem 0 2rem;
                width: 45%;
                animation: fadeInLeftBig 2s forwards;
            }
    
            .package-gif {
                position: absolute;
                right: 0;
                top: -3.5%;
                width: 800px;
                animation: fadeInRight 2s forwards;
            }
        }
    }
    
    .second-section {
        background-image: url("../../../assets/images/1746747.jpg");
        box-shadow: var(--global);
    
        .second-inner {
            display: flex;
            gap: 2rem;
            margin: 0rem;
            padding: 4rem;
            min-height: 75vh;
    
            .animSecond {
                animation: fadeInLeft 1s forwards;
                width: 60%;
                padding: 0 1rem;
    
                p {
                    padding-top: 2rem;
                }
            }
    
            .animSecondimg {
                animation: fadeInRight 1s forwards;
                width: 40%;
                border-radius: 20px;
            }
    
            .second-none {
                display: none;
            }
    
            .text-box {
                padding: 0 2rem 0 5rem;
                width: 70%;
                color: #000;
            }
        }
    }
    
    .third-section {
        min-height: 100vh;
    
        .third-inner {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 4rem 2rem;
    
            .text-box {
                text-align: center;
                padding: 0 8rem;
                color: #fff;
            }
    
            .none {
                display: none;
            }
    
            .contentAnim {
                animation: backInUp 1s forwards;
                margin: 2rem;
            }
        }
    }
    
    .cta {
        background-image: url("../../../assets/images/1746747.jpg");
        box-shadow: var(--global);
        margin-top: 10rem;
    }

}